<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${ARTIFACT_REPO_USERNAME}</username>
      <password>${ARTIFACT_REPO_PASSWORD}</password>
      <id>harris</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <url>http://lnvle2666.gs.myharris.net:8081/repository/maven-central/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>