**/obj/**
**/.vs/**
**/bin/**
**/GeneratedFiles/**
**/TestResults/**
**/.klocwork/**
**/*.suo
**/logs/**
**/*.dll
**/*.exe
*~
*.pdb
*.zip
*.tar.gz
*.tar
*.gz
*.deb
*.rpm
*.~tc
*.py.bak
*.pyc
*/__pycache__
**/Log
*.log
*.tcLS
*.tcCfgExtender
*.tcVis
*.data

# Resharper files
*.DotSettings.user