#crontab -e
SHELL=/bin/bash
# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

#Execute Docker cleanup. Runs daily at 5am.
#This will remove:
#       - all stopped containers
#       - all networks not used by at least one container
#       - all volumes not used by at least one container
#       - all dangling images
#       - all build cache
0 5 * * * /usr/bin/docker system prune --volumes -f
